<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.sg.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.sg.model.User">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="openId" column="OPEN_ID" jdbcType="CHAR"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,OPEN_ID,USER_NAME,
        GMT_CREATE,GMT_MODIFIED,DELETED
    </sql>
    <select id="getByOpenId" resultType="com.pwc.sdc.sg.model.dto.UserDto">
        SELECT su.ID, su.OPEN_ID, su.USER_NAME
        FROM sg_user su
        WHERE su.OPEN_ID = #{openId} AND su.DELETED = 0
    </select>
</mapper>
